// TAG
%tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 2rem;
  padding: 1.2rem 0.8rem;

  border-radius: var(--border-radius-big);
  text-align: center;
  font-weight: var(--text-weight-bold);
  font-size: var(--text-sm);
}
