@mixin media-breakpoint($breakpoint) {
  @if $breakpoint == 1200px {
    @media screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == 750px {
    @media screen and (max-width: 47.5em) {
      @content;
    }
  }
}

@mixin animation($keyframe, $timing) {
  animation-name: $keyframe;
  animation-duration: 0.3s;
  animation-timing-function: $timing;
}

@mixin button-default {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
