@use "../../sass/mixins" as *;

.btnToSwitch {
  display: none;

  @include media-breakpoint(750px) {
    position: absolute;
    width: 12rem;
    height: 3.7rem;
    bottom: 3rem;
    right: 1.5rem;
    padding: 0.5rem 1rem;
    z-index: 3000;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    line-height: 1.5rem;

    border-radius: var(--border-radius-big);
    background-color: var(--color-active);
    filter: var(--drop-shadow);

    font-size: var(--text-default);
    font-weight: var(--text-weight-semi-bold);
    color: var(--color-tertiary);
    white-space: nowrap;
  }
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-bottom: 1.5px;
}
