.btnToMyLocation {
  position: absolute;
  z-index: 10;
  right: 10px;
  bottom: 20px;
  content: url(../../assets/my_location.svg);
  scale: 120%;
  margin: 0px 10px 25px 0px;
  filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

@media (max-width: 600px) {
  .btnToMyLocation {
    bottom: 10px;
    left: 20px;
  }
}
