.btnToSwitch {
  display: none;

  @media (max-width: 600px) {
    display: block;
    position: absolute;
    width: 120px;
    height: 37px;
    bottom: 30px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 9999px;
    background-color: var(--color-active);
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    z-index: 3000;

    font-family: "Quicksand", "Noto Sans KR";
    font-size: var(--text-sm);
    font-weight: var(--text-weight-semi-bold);
    color: var(--color-light);
    white-space: nowrap;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  line-height: 15px;
}

.icon {
  width: 22px;
  height: 22px;
  margin-bottom: 1.5px;
}
