/* 600px */
@media screen and (max-width: 37.5em) {
  .info-window {
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    position: absolute;
    z-index: 20;
    height: 15rem;
    border-radius: 0.9rem;
    font-size: var(--text-sm);
    background-color: var(--color-light);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 6px 2px;
    overflow: hidden;

    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    top: initial;
    left: 0;
    right: 0;
    bottom: 8.5rem;
  }

  .info-window img {
    width: 13rem;
    height: 13rem;
    border-radius: 0.9rem;
  }

  .bakery-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--text-weight-medium);
    font-size: var(--text-sm);
  }

  .bakery-name button {
    border: none;
    background: none;
    font-size: var(--text-lg);
    color: var(--color-secondary);
    cursor: pointer;
  }

  .one-sentence-review {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .info-window > div:nth-child(2) {
    margin-top: 0.3rem;
    padding-bottom: 0.8rem;
    font-size: var(--text-xs);
    font-weight: var(--text-weight-regular);
  }
}
