@use "../sass/mixins" as *;
@use "../sass/animations" as *;

.alertCopy {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(1.8rem);
  padding: 1rem;
  width: 100%;

  background-color: var(--color-active);
  color: var(--color-background);
  border: var(--border-default);
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 1rem 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  font-weight: var(--text-weight-medium);
  line-height: 1.4;

  @include animation(fade-in, var(--function-easeoutquint));
}

.iconSuccess,
.iconFail {
  width: 2rem;
  height: 2rem;
}

.iconSuccess {
  color: #2f9e44;
}

.iconFail {
  color: var(--color-warning);
}
