.linkNaver:link,
.linkNaver:visited,
.linkNaver:hover,
.linkNaver:active {
  display: block;
  color: var(--color-emphasis);
  margin-bottom: 10px;
}

.bookmark {
  padding: 0;
  align-self: start;
  width: 20px;
  height: 20px;
}

.icon {
  stroke: var(--color-emphasis);
}

.iconActive {
  fill: var(--color-primary);
}
