.linkNaver:link,
.linkNaver:visited,
.linkNaver:hover,
.linkNaver:active {
  display: block;
  margin-bottom: 10px;

  color: var(--color-emphasis);
  text-underline-offset: 2px;
}

.bookmark {
  padding: 0;
  align-self: start;
  width: 20px;
  height: 20px;
}

.iconBookmark {
  stroke: var(--color-emphasis);
}

.iconBookmarkActive {
  fill: var(--color-primary);
}

.share {
  margin-left: 20px;
}

.iconShare {
  width: 20px;
  height: 20px;

  stroke: var(--color-emphasis);
}
