.linkNaver {
  &:link,
  &:visited,
  &:hover,
  &:active {
    display: inline-block;
    margin-bottom: 1rem;

    color: var(--color-emphasis);
    text-underline-offset: 2px;
  }
}

.bookmark {
  padding: 0;
  align-self: start;
  width: 2rem;
  height: 2rem;
}

.share {
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
}
