.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: var(--text-xs);
  color: var(--color-secondary);
  border-bottom: 0;
}

.footer p {
  margin: 0px;
  font-weight: var(--text-weight-medium);
  text-align: center;
}

.footer a {
  cursor: pointer;
  color: var(--color-secondary);
  text-decoration: none;
}

.footer a:visited {
  text-decoration: none;
}
