.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  font-size: var(--text-sm);
  color: var(--color-secondary);
}

.footer p {
  font-weight: var(--text-weight-medium);
  text-align: center;
}

.contact:link,
.contact:visited,
.contact:hover,
.contact:active {
  color: var(--color-secondary);
  text-underline-offset: 2px;
}
