.infoList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.icon {
  width: 20px;
  height: 20px;

  stroke: var(--color-emphasis);
}
