.infoList {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
}

.icon {
  width: var(--icon-size-default);
  height: var(--icon-size-default);

  stroke: var(--color-emphasis);
}
