.modal {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid var(--color-border);
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px 1px #0000001f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.urlContainer {
  padding: 5px;
  border-radius: 9px;
  background-color: var(--color-hover);
  width: 100%;
  padding: 12px;
  position: relative;
}

.btnCopy {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 12px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: var(--color-hover);
  font-weight: var(--text-weight-medium);
  font-size: var(--text-default);
}

.iconX {
  width: 20px;
  height: 20px;
  stroke: var(--color-emphasis);
}

.btnClose {
  margin-left: auto;
}

.url {
  color: #868e96;
  overflow-y: scroll;
}

.url::-webkit-scrollbar {
  display: none;
}
