.modal {
  position: absolute;
  top: 100%;
  padding: 2rem;
  width: 100%;

  border-radius: var(--border-radius-small);
  border: var(--border-default);
  box-shadow: 0 0 1rem 1px #0000001f;

  background-color: var(--color-background);
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.urlContainer {
  position: relative;
  width: 100%;
  padding: 1.2rem;

  border-radius: 0.9rem;
  background-color: var(--color-hover);
}

.btnClose {
  color: var(--color-secondary);
}

.btnCopy {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 1.2rem;

  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  background-color: var(--color-hover);

  font-weight: var(--text-weight-medium);
  font-size: var(--text-default);
  line-height: 1.4rem;
}

.url {
  color: #868e96;
  overflow-y: scroll;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}
