.placeName {
  line-height: 2;
}

.heading {
  margin-bottom: 0.8rem;
}

.tagBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.4rem;
}

.review {
  color: var(--color-secondary);
  font-weight: var(--text-weight-medium);
}
