.placeName {
  line-height: 2;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 10px;
}

.placeName > div:first-child {
  font-size: var(--text-lg);
  font-weight: var(--text-weight-medium);
}

.tagBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
