.placeName {
  line-height: 2;
}

.heading {
  margin-bottom: 8px;
}

.tagBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}

.review {
  color: var(--color-secondary);
  font-weight: var(--text-weight-medium);
}
