.spinnerContainer {
  width: 40%;
  height: 40%;
}

.spinner {
  margin: 32px auto;
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;

  border: 8px solid var(--color-border);
  border-right-color: var(--color-tertiary-bg);
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
