@use "../sass/extends" as *;

.tagRating {
  @extend %tag;

  color: #087f5b;
  background-color: #e4f3ed;
}

.icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  margin-bottom: 2px;
}
