.weeklyHours {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0px;
  border: none;
  cursor: pointer;
  background: none;
}

.weeklyHours > img:first-child {
  scale: 0.6;
  opacity: 0.9;
}

.caretDown {
  height: 30px;
  scale: 0.45;
}

.weekly {
  display: flex;
  gap: 10px;
  margin-left: 32px;
  margin-bottom: 5px;
}

.weekly div:first-child {
  width: 30px;
  text-transform: capitalize;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--color-emphasis);
}
