.weeklyHours {
  display: flex;
  align-items: center;
  gap: 6px;

  border: none;
  cursor: pointer;
}

.weekly {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 26px;
}

.dayList {
  display: flex;
}

.day {
  flex: 0 1 40px;
  font-weight: var(--text-weight-medium);
  text-transform: capitalize;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--color-emphasis);
}

.arrow {
  width: 16px;
  height: 16px;
  stroke: var(--color-emphasis);
}
