.placeDetails {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25%;
  height: 100vh;
  z-index: 3000;
  gap: 20px;
  padding: 60px 20px 100px 20px;
  font-size: var(--text-sm);
  background-color: var(--color-tertiary-bg);
  box-sizing: border-box;
  overflow-y: scroll;
}

.placeDetails svg {
  cursor: pointer;
  flex-shrink: 0;
}

.placeDetails > .short-info > div:first-child {
  font-size: var(--text-sm);
  font-weight: var(--text-weight-medium);
}

.btnBox {
  width: inherit;
  border: none;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
  width: 100%;
}

@media (max-width: 1200px) {
  .placeDetails {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .placeDetails {
    width: 100%;
    z-index: 3000;
    background-color: var(--color-tertiary-bg);
  }
}
