@use "../../sass/mixins" as *;
@use "../../sass/animations" as *;

@keyframes slide-down {
  from {
    clip-path: polygon(0 0, 100% 0, 0 0, 0 0);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.weekly {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2.6rem;

  @include animation(slide-down, var(--function-easeoutquint));
}

.dayList {
  display: flex;
}

.day {
  flex: 0 0 4rem;
  font-weight: var(--text-weight-medium);
  text-transform: capitalize;
}
