.btnFilter {
  display: flex;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 5px 10px;
  border: 1px solid var(--color-border);
  border-radius: 9999px;
  background: var(--color-background);
  cursor: pointer;

  font-family: "Quicksand", "Noto Sans KR";
  font-weight: var(--text-weight-medium);
  font-size: var(--text-sm);
  color: var(--color-tertiary);
  white-space: nowrap;
}

.btnFilter:hover {
  background-color: var(--color-hover);
}

.icon {
  width: 20px;
  height: 20px;
}

.active {
  color: #6b3800;
  border-color: var(--color-primary);
  background-color: rgba(255, 236, 153, 0.2);
  font-weight: var(--text-weight-bold);
  stroke: var(--color-primary);
}
