.place {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 2.4rem;
  align-content: space-between;
  height: 14rem;
  padding: 2.4rem;

  border-bottom: var(--border-default);
  font-weight: var(--text-weight-regular);

  &:hover {
    background: var(--color-hover);
    cursor: pointer;
  }

  &:first-child {
    margin-top: 5.2rem;
  }
}

.name {
  display: inline-block;
  margin-bottom: 0.4rem;
  font-size: var(--text-md);
  font-weight: var(--text-weight-bold);
}

.address {
  color: var(--color-secondary);
}

.hours {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  color: var(--color-secondary);
}
