@use "../../sass/mixins" as *;

.sidebar {
  grid-column: 1/2;
  grid-row: 2;
  z-index: 2000;
  overflow-y: scroll;

  box-shadow: var(--box-shadow);
  font-size: var(--text-default);

  @include media-breakpoint(600px) {
    visibility: hidden;
    position: absolute;
    width: 100%;
    transform: translate3d(0, 100vh, 0);
  }
}

.sidebarSm {
  @include media-breakpoint(600px) {
    position: absolute;
    width: 100%;
    height: calc(100vh - 4rem);
    z-index: 2000;
    overflow-y: scroll;
    font-size: var(--text-default);
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  }
}

.filterContainer {
  display: flex;
  gap: 0.8rem;
  overflow-x: scroll;
  position: fixed;
  width: 25%;
  padding: 1rem 2.4rem;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);

  @include media-breakpoint(1200px) {
    width: 40%;
  }

  @include media-breakpoint(600px) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
