/* variables */
:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1.2rem;
  --text-lg: 1.5rem;
  --text-xl: 3rem;
  --text-weight-regular: 400;
  --text-weight-medium: 500;
  --text-weight-semi-bold: 600;
  --text-weight-bold: 700;
  --color-emphasis: #222222;
  --color-secondary: #4a4a4a;
  --color-tertiary: #7e7d7d;
  --color-tertiary-bg: #f7f8ff;
  --color-primary: #235cf3;
  --color-primary-bg: #d5e0fe;
  --color-warning: #d45a35;
  --color-info: #1840aa;
  --color-light: #fbfbfd;
  --color-border: #d6dae3;
  --grid-rows-lg: 40px calc(100vh - 40px);
  --grid-rows-sm: 40px calc(100vh - 40px);
}

.spacing-mb {
  margin-bottom: 80px;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "Barlow", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-emphasis);
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: var(--grid-rows-lg);
}

.header {
  display: flex;
  align-items: center;
  grid-column: 1/3;
  z-index: 4000;
  padding: 0rem 1.5rem;
  font-weight: var(--text-weight-bold);
  box-shadow: rgba(0, 0, 0, 0.12) 2px 0px 4px 0px;
  background-color: var(--color-light);
}

.header img {
  width: 25px;
  margin-right: 0.7rem;
}

.title {
  flex-grow: 1;
}

.toggle-switch {
  display: flex;
  position: relative;
  cursor: pointer;
}

.toggle-switch [type="checkbox"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.toggle-options p:nth-child(1) {
  position: absolute;
  top: -0.6rem;
  left: 1.1rem;
  z-index: 5;
  font-size: var(--text-sm);
  color: var(--color-primary);
}

.toggle-options p:nth-child(2) {
  position: absolute;
  top: -0.6rem;
  left: 4.8rem;
  z-index: 5;
  font-size: var(--text-sm);
  color: var(--color-secondary);
}

.toggle-options .slider {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 27px;
  border-radius: 9999px;
  font-size: var(--text-sm);
  background: rgba(159, 159, 159, 0.24);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
}

.toggle-options .slider:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  width: 65px;
  height: 27px;
  border-radius: 9999px;
  text-align: center;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

input:checked + div p:nth-child(1) {
  color: var(--color-secondary);
}

input:checked + div p:nth-child(2) {
  color: var(--color-primary);
}

input:checked + div .slider:before {
  transform: translateX(-100%);
  left: 100%;
}

input:focus div .slider {
  box-shadow: 0 0 1px #2196f3;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 2;
  z-index: 2000;
  overflow-y: scroll;
  font-size: var(--text-sm);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  background: rgba(239, 241, 254, 0.4);
}

.filter-container {
  display: flex;
  overflow: scroll;
  position: fixed;
  width: 25%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-tertiary-bg);
}

.filter-container button {
  display: inline-block;
  height: 75%;
  padding: 5px 10px 5px 35px;
  margin-right: 10px;
  border: 1.2px solid var(--color-border);
  border-radius: 9999px;
  white-space: nowrap;
  font-size: var(--text-sm);
  color: var(--color-tertiary);
  background: var(--color-tertiary-bg);
  cursor: pointer;
}

.filter-container button:hover {
  background-color: rgba(214, 218, 227, 0.5);
}

.btn-filter:first-child {
  margin-left: 20px;
  background-image: url("../assets/filter.svg");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 10px 4px;
}

.btn-filter:nth-child(2) {
  background-image: url("../assets/Star.svg");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 10px 3.5px;
}

.btn-filter:nth-child(3) {
  background-image: url("../assets/Cook.png");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 10px 4px;
}

.btn-filter:nth-child(4) {
  background-image: url("../assets/Globe\ Showing\ Asia\ Australia.png");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 10px 4px;
}

.btn-filter:nth-child(5) {
  background-image: url("../assets/Fork\ And\ Knife\ With\ Plate.png");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 10px 4px;
}

.btn-filter:last-child {
  margin-right: 20px !important;
  background-image: url("../assets/Delivery\ Truck.png");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 10px 2px;
}

.btn-filter-active {
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  background-color: rgba(35, 92, 243, 0.12) !important;
}

.place-details {
  grid-column: 1/2;
  grid-row: 2;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  font-size: var(--text-sm);
  background-color: var(--color-tertiary-bg);
}

.place-details svg {
  cursor: pointer;
}

.place-name {
  line-height: 2;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 10px;
}

.place-name div:first-child {
  font-size: var(--text-lg);
  font-weight: var(--text-weight-medium);
}

.place-name .description {
  font-size: var(--text-xs);
}

.place-details .short-info div:first-child {
  font-size: var(--text-sm);
  font-weight: var(--text-weight-medium);
}

.place-details .extra-info {
  width: inherit;
}

.place-details .info-window-btns {
  border: none;
}

.location-info div:first-child {
  margin-bottom: 10px;
  font-size: var(--text-sm);
  font-weight: var(--text-weight-medium);
}

.map {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.mini-map {
  width: 100%;
  height: 200px;
  border: 0.5px solid var(--color-border);
  border-radius: 9px;
}

.btn-to-my-location {
  position: absolute;
  z-index: 10;
  right: 10px;
  bottom: 20px;
  content: url(../assets/my_location.svg);
  scale: 120%;
  margin: 0px 10px 25px 0px;
  filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.info-window {
  position: absolute;
  z-index: 20;
  width: 270px;
  padding: 15px;
  border: 1px solid rgba(159, 159, 159, 0.5);
  border-radius: 9px;
  font-size: var(--text-sm);
  font-weight: var(--text-weight-medium);
  background-color: var(--color-light);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
  overflow: hidden;
}

.short-info {
  padding-top: 8px;
  font-size: var(--text-xs);
}

.short-info div:nth-child(1) {
  margin-bottom: 7px;
}

.short-info div:nth-child(2) {
  margin-bottom: 10px;
  font-weight: var(--text-weight-regular);
}

.extra-info {
  width: 270px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
  background-color: rgba(213, 224, 254, 0.4);
  color: var(--color-primary);
  font-size: var(--text-xs);
  text-align: center;
  font-weight: var(--text-weight-regular);
}

.extra-info span:nth-child(1) {
  padding: 20px 5px 20px 20px;
  background-image: url("../assets/Hourglass\ Not\ Done.png");
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 0px;
}

.extra-info span:nth-child(3) {
  padding: 20px 5px 20px 33px;
  background-image: url("../assets/Delivery\ Truck.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 8px 16px;
}

.bakery-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bakery-name button {
  border: none;
  background: none;
  font-size: var(--text-lg);
  color: var(--color-secondary);
  cursor: pointer;
}

.info-window > div:nth-child(2) {
  margin-top: 3px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-border);
  font-size: var(--text-xs);
  font-weight: var(--text-weight-regular);
}

.info-window-btns {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--color-border);
}

.info-window-bookmark {
  padding-left: 25px;
  border: 0.5px solid var(--color-border);
  border-radius: 9px;
  background-image: url(../assets/Star.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 11px 3.5px;
  background-color: #efefef;
  font-size: var(--text-xs);
  cursor: pointer;
}

.info-window-bookmark:hover {
  background-color: var(--color-border);
  border-color: var(--color-border);
}

.bookmarked {
  background-image: url(../assets/Star-filled.svg);
}

.btn-to-order {
  margin-top: 15px;
  padding-right: 40px;
  text-decoration: none;
  font-size: var(--text-xs);
  color: var(--color-emphasis);
}

.btn-to-order:hover {
  color: var(--color-emphasis);
  text-decoration: underline;
}

.btn-to-order:hover .btn-arrow {
  left: 9px;
}

.btn-to-order:visited {
  color: var(--color-emphasis);
}

.btn-arrow {
  position: relative;
  width: 14px;
  top: 3px;
  left: 3px;
  transition: left 0.3s;
}

.btn-more-details {
  width: 100%;
  padding: 5px 10px 5px 10px;
  border: 0.5px solid var(--color-border);
  border-radius: 9px;
  text-decoration: none;
  white-space: nowrap;
  font-size: var(--text-xs);
  color: var(--color-emphasis);
  background-color: #efefef;
  cursor: pointer;
}

.btn-more-details:hover {
  background-color: var(--color-border);
  border-color: var(--color-border);
}

.marker {
  padding: 7px 17px 7px 42px;
  border: 1px solid rgba(159, 159, 159, 0.5);
  border-radius: 9999px;
  background-image: url("../assets/baguette_bread.png");
  background-color: var(--color-light);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 15px;
  white-space: nowrap;
  font-size: var(--text-sm);
  font-weight: var(--text-weight-semi-bold);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  transition: transform 0.3s ease-in-out;
}

.hover-marker {
  transform: scale(1.15);
}

.active-marker {
  transform: scale(1.15);
  /* animation: change-color 0.2s ease-in-out forwards; */
  background-color: var(--color-emphasis);
  border-color: var(--color-emphasis);
  color: var(--color-light);
}

@keyframes change-color {
  from {
    background-color: var(--color-light);
    color: var(--color-emphasis);
  }
  to {
    background-color: var(--color-emphasis);
    border-color: var(--color-emphasis);
    color: var(--color-light);
  }
}

.place {
  border-bottom: 1px solid var(--color-border);
}

.place:hover {
  background: rgba(214, 218, 227, 0.5);
  cursor: pointer;
}

.place * {
  margin-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.place:nth-child(1) {
  padding-top: 53px;
}

.place-header {
  display: flex;
  padding-bottom: 0 !important;
}

.place h3 {
  padding-top: 1rem;
  margin-top: 0;
  flex-grow: 1;
}

.sidebar-bookmark {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.place img {
  padding: 10px 0px 0px 0px;
  width: 18px;
}

.place button:hover .place img {
  width: 20px;
}

.place h5 {
  font-weight: var(--text-weight-regular);
}

.place div {
  padding-left: 0;
  padding-bottom: 20px;
  font-size: var(--text-xs);
}

.place span:nth-child(1) {
  padding-right: 10px;
}

.place span:nth-child(2) {
  padding: 0px;
  color: var(--color-secondary);
}

.place span:nth-child(3) {
  padding-left: 10px;
}

.bakery-closed {
  color: var(--color-warning);
}

.bakery-open {
  color: var(--color-primary);
}

.place-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 130px;
  list-style-type: none;
  background: rgba(239, 241, 254, 0.4);
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.alert-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alert-message {
  text-align: center;
  font-weight: var(--text-weight-medium);
}

.btn-to-resize {
  visibility: hidden;
  position: absolute;
}

.distance-from-me {
  background-image: url("../assets/near_me.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 8px 1px;
  margin-left: 20px;
  color: var(--color-secondary);
}

.active {
  background: rgba(214, 218, 227, 0.5);
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 2fr 3fr;
  }

  .filter-container {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .header {
    grid-column: 1/2;
    order: 1;
  }

  .map-container {
    order: 2;
  }

  .place-details {
    order: 2;
    z-index: 3000;
    background-color: var(--color-tertiary-bg);
  }

  .sidebar {
    visibility: hidden;
    position: absolute;
    width: 100%;
    transform: translate3d(0px, 100vh, 0px);
  }

  .sidebar-sm {
    z-index: 2000;
    overflow-y: scroll;
    font-size: var(--text-sm);
    height: calc(100vh - 40px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;

    position: absolute;
    width: 100%;
    transition: transform 0.4s ease-out;
    background-color: var(--color-light);
  }

  .filter-container {
    width: 100%;
  }

  .btn-filter:first-child {
    margin-left: 20px;
  }

  .btn-to-resize {
    visibility: visible;
    position: absolute;
    z-index: 10;
    bottom: 30px;
    right: 15px;
    padding: 10px 20px 10px 45px;
    border: 0px;
    border-radius: 9999px;
    font-size: var(--text-sm);
    font-weight: var(--text-weight-semi-bold);
    background-color: var(--color-emphasis);
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.5));
    color: var(--color-light);
    cursor: pointer;
    z-index: 3000;
  }

  .info-window {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    top: initial;
    left: 0;
    right: 0;
    bottom: 85px;
  }

  .extra-info {
    width: inherit;
  }

  .btn-to-my-location {
    bottom: 10px;
    left: 20px;
  }
}
