/* variables */
:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1.2rem;
  --text-lg: 1.5rem;
  --text-xl: 3rem;
  --color-default: #222222;
  --color-accent: #235cf3;
  --color-warning: #d45a35;
}

@font-face {
  font-family: "Commit Mono";
  src: url("./assets/fonts/CommitMono-400-Regular.otf");
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "DM Sans", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: var(--color-default);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 40px calc(100vh - 40px);
}

.header {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.12) 2px 0px 4px 0px;
  background: #fbfbfd;
  font-weight: 700;
  padding: 0rem 1.5rem;
}

.header img {
  width: 25px;
  margin-right: 0.7rem;
}

.title {
  flex-grow: 1;
}

.toggle-switch {
  display: flex;
  cursor: pointer;
  position: relative;
}

.toggle-switch [type="checkbox"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

div p:nth-child(1) {
  position: absolute;
  top: -0.6rem;
  left: 1.1rem;
  z-index: 5;
  color: var(--color-accent);
  font-size: var(--text-sm);
}

div p:nth-child(2) {
  position: absolute;
  top: -0.6rem;
  left: 4.8rem;
  z-index: 5;
  font-size: var(--text-sm);
  color: #4a4a4a;
}

div .slider {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 27px;
  background: rgba(159, 159, 159, 0.24);
  border-radius: 9999px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
  font-size: 0.87rem;
}

div .slider:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  width: 65px;
  height: 27px;
  text-align: center;
  background: #fff;
  border-radius: 9999px;
  transition: all 0.2s ease-in-out;
}

input:checked + div p:nth-child(1) {
  color: #4a4a4a;
}

input:checked + div p:nth-child(2) {
  color: var(--color-accent);
}

input:checked + div .slider:before {
  transform: translateX(-100%);
  left: 100%;
}

input:focus div .slider {
  box-shadow: 0 0 1px #2196f3;
}

.sidebar {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  background: rgba(239, 241, 254, 0.4);

  z-index: 2;
  overflow-y: scroll;
  font-size: var(--text-sm);
}

.filter-container {
  /* display: flex; */
  /* padding-left: 1.5rem; */
  position: fixed;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;

  /* padding-left: 1.5rem; */
  background: #f7f8ff;
  border-bottom: 1px solid #d6dae3;
  /* box-shadow: rgba(0, 0, 0, 0.12) 2px 0px 4px 0px; */
}

/* .filter-container ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #7e7d7d;
  padding-left: 1.5rem;
} */

.filter-container button {
  color: #7e7d7d;
  border: 1.2px solid #d6dae3;
  background: #f7f8ff;
  border-radius: 9999px;
  padding: 5px 10px 6px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.filter-container button:hover {
  background: rgba(214, 218, 227, 0.5);
}

.map {
  z-index: 1;
}

.btn-color {
  color: var(--color-accent) !important;
  border-color: var(--color-accent) !important;
  background: rgba(35, 92, 243, 0.12) !important;
}

.map-container {
  position: relative;
}

.map-container button {
  position: absolute;
  right: 25px;
  bottom: 35px;
  cursor: pointer;
}

.place {
  border-bottom: 1px solid #d6dae3;
}

.place:hover {
  background: rgba(214, 218, 227, 0.5);
}

.place:nth-child(1) {
  padding-top: 50px;
}
.place h3 {
  padding-top: 1rem;
  margin-top: 0;
}

.place h5 {
  font-weight: 400;
}

.place * {
  margin-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.place div {
  font-size: var(--text-xs);
  padding-left: 0;
  padding-bottom: 20px;
}

.red {
  color: var(--color-warning);
}

.blue {
  color: var(--color-accent);
}

.button {
  content: url(./assets/my_location.svg);
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0px 10px 25px 0px;
  filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.12));
}

.place-list {
  list-style-type: none;
  padding-left: 0;
  background: rgba(239, 241, 254, 0.4);
}
